In [15]:
import pandas as pd

# Replace 'your_file.csv' with the actual file path of your CSV file

# Read the CSV file into a pandas DataFrame
df = pd.read_csv('res.csv')

# Now you can work with the 'data' DataFrame
# For example, you can print the first few rows of the DataFrame
print(data.head())

    ID         Area       City         Restaurant  Price  Avg ratings  \
0  211  Koramangala  Bangalore        Tandoor Hut  300.0          4.4
1  221  Koramangala  Bangalore      Tunday Kababi  300.0          4.1
2  246    Jogupalya  Bangalore            Kim Lee  650.0          4.4
3  248  Indiranagar  Bangalore  New Punjabi Hotel  250.0          3.9
4  249  Indiranagar  Bangalore                Nh8  350.0          4.0

   Total ratings                                          Food type  \
0            100          Biryani,Chinese,North Indian,South Indian
1            100                                   Mughlai,Lucknowi
2            100                                            Chinese
3            500               North Indian,Punjabi,Tandoor,Chinese
4             50  Rajasthani,Gujarati,North Indian,Snacks,Desser...

        Address  Delivery time
0     5Th Block             59
1     5Th Block             56
2   Double Road             50
3  80 Feet Road             57
4  80 Feet Road             63

In [18]:
pd.set_option('display.max_rows',50)
pd.set_option('display.max_column',None)
print(data)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [30]:
sp_id=[464626,246,248,466488]
filtered_data=df[df['ID'].isin(sp_id)]
print(filtered_data)

          ID                    Area       City         Restaurant  Price  \
2        246               Jogupalya  Bangalore            Kim Lee  650.0
3        248             Indiranagar  Bangalore  New Punjabi Hotel  250.0
8675  464626  Panjarapole Cross Road  Ahmedabad         Malt Pizza  500.0
8679  466488             Navrangpura  Ahmedabad       Sassy Street  250.0

      Avg ratings  Total ratings                             Food type  \
2             4.4            100                               Chinese
3             3.9            500  North Indian,Punjabi,Tandoor,Chinese
8675          2.9             80                                Pizzas
8679          2.9             80                  Chaat,Snacks,Chinese

           Address  Delivery time
2      Double Road             50
3     80 Feet Road             57
8675   Navrangpura             40
8679   Navrangpura             44

In [28]:
sp_col=['ID','Area','Restaurant','Area','Avg ratings','Total ratings','Delivery time']
filtered_data=df[df['ID'].isin(sp_id)][sp_col]
print(filtered_data)

          ID                    Area     Restaurant                    Area  \
1        221             Koramangala  Tunday Kababi             Koramangala
4        249             Indiranagar            Nh8             Indiranagar
8675  464626  Panjarapole Cross Road     Malt Pizza  Panjarapole Cross Road

      Avg ratings  Total ratings  Delivery time
1             4.1            100             56
4             4.0             50             63
8675          2.9             80             40

In [24]:
df.describe()

                  ID        Price  Avg ratings  Total ratings  Delivery time
count    8680.000000  8680.000000  8680.000000    8680.000000    8680.000000
mean   244812.071429   348.444470     3.655104     156.634793      53.967051
std    158671.617188   230.940074     0.647629     391.448014      14.292335
min       211.000000     0.000000     2.000000      20.000000      20.000000
25%     72664.000000   200.000000     2.900000      50.000000      44.000000
50%    283442.000000   300.000000     3.900000      80.000000      53.000000
75%    393425.250000   400.000000     4.200000     100.000000      64.000000
max    466928.000000  2500.000000     5.000000   10000.000000     109.000000

AttributeError: 'DataFrame' object has no attribute 'grouby'