In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [3]:
movies = pd.read_csv("IMDb_Movies_India.csv", delimiter='::', encoding='latin-1')

C:\Users\ALHP\AppData\Local\Temp\ipykernel_8884\1782242693.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv("IMDb_Movies_India.csv", delimiter='::', encoding='latin-1')

In [4]:
movies

      Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0      ,,,Drama,,,J.S. Randhawa,Manmauji,Birbal,Rajen...
1      #Gadhvi (He thought he was Gandhi),(2019),109 ...
2      #Homecoming,(2021),90 min,"Drama, Musical",,,S...
3      #Yaaram,(2019),110 min,"Comedy, Romance",4.4,3...
4      ...And Once Again,(2010),105 min,Drama,,,Amol ...
...                                                  ...
15504  Zulm Ko Jala Doonga,(1988),,Action,4.6,11,Mahe...
15505  Zulmi,(1999),129 min,"Action, Drama",4.5,655,K...
15506  Zulmi Raj,(2005),,Action,,,Kiran Thej,Sangeeta...
15507                 Zulmi Shikari,(1988),,Action,,,,,,
15508  Zulm-O-Sitam,(1998),130 min,"Action, Drama",6....

[15509 rows x 1 columns]

KeyError: 'Name'